<form name="" method="post" action="{{ path('app_citizen_delete', {'id': citizen.id}) }}" onsubmit="return confirm('Tem certeza que deseja deletar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ citizen.id) }}">
    <button name="Apagar" id="Apagar" class="mt-3 btn btn-danger">{{ button_label|default('Apagar') }}</button>
</form>
